# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# My Stuff
.gitignore
bkup_*
*.pyc
*.html
*.mp3
winfo
test
conversation.json
log.*
logs
.clai_local
temp.*
test.py
docs
promet
recent
convhist/*
copy
